body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #e0f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .feedback-container {
    background-color: white;
    padding: 2rem;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.6s ease;
  }
  
  h2 {
    color: #268aff;
    margin-bottom: 0.5rem;
  }
  
  p {
    color: #555;
    margin-bottom: 1rem;
  }
  
  .rating-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .rating-options label {
    cursor: pointer;
    text-align: center;
    flex: 1;
    margin: 0 5px;
  }
  
  .rating-options input {
    display: none;
  }
  
  .rating-options input:checked + div {
    border: 2px solid #268aff;
    background-color: #dbeafe;
  }
  
  .rating-options div {
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    padding: 0.5rem;
    transition: 0.3s;
    font-size: 14px;
  }
  
  .rating-options div:hover {
    transform: scale(1.05);
    background-color: #eff6ff;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.2s ease;
  }
  
  input:focus,
  textarea:focus {
    border-color: #268aff;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
  }
  
  .checkbox {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    font-size: 14px;
    margin-bottom: 1rem;
  }
  
  .checkbox a {
    color: #268aff;
    text-decoration: underline;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  button {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:nth-child(1) {
    background-color: #e5e7eb;
    color: #374151;
  }
  
  button:nth-child(1):hover {
    background-color: #d1d5db;
  }
  
  button:nth-child(2) {
    background-color: #268aff;
    color: white;
  }
  
  button:nth-child(2):hover {
    background-color: #268aff;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.96);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  ::placeholder {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    color: #555
  }